body {
  background-color:  royalblue;
}

.App {
  background-color: darkblue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: blue;
  border: 0px;
  height: 50px;
  width: 200px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: whitesmoke;
}

#to-do-form input::placeholder {
  outline: darkslategrey;
}

#to-do-form input:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: darkorange;
  cursor: pointer;
  font-weight: bolder;
}